@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* --- Custome animation for wishList heart ---- */

@keyframes pingOnce {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }   
}

@utility animate-pingOnce {
    animation: pingOnce 0.3s ease-in-out;
}