@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* --- Custome animation for wishList heart ---- */

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes pingOnce {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }   
}

@utility animate-pingOnce {
    animation: pingOnce 0.3s ease-in-out;
}

.input {
    @apply w-full px-4 py-2 rounded-md border border-gray-300
    focus:ring-2 focus:ring-indigo-500 outline-none
    dark:bg-gray-700 dark:text-white dark:border-gray-600;
}